@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --background-color: #FAF9F6;
    --secondary-background-color: #e1cdb442;
    --primary-foreground-color: #0e0f11;
    --secondary-foreground-color: #EEEBE1;
}

body {
    background-color: var(--background-color);
    color: var(--primary-foreground-color);
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0e0f11;
        --secondary-background-color: #4f4d4b42;
        --primary-foreground-color: #FAF9F6;
        --secondary-foreground-color: #EEEBE1;
    }
}