.tab {
    cursor: pointer;
    border-bottom: solid transparent 2px;
    transition: border-bottom 100ms linear;
}

.tab.active {
    border-bottom: solid var(--primary-foreground-color) 2px;
}

.tab a {
    text-decoration: none;
    color: inherit;
}